.menu {
    display: none;
}

.brands-row2 {
    display: none;
}


/* Inserted media queries here */

@media (max-width :1600px) and (min-device-width :1200px) {
    /******* banner ****/
    .banner {
        height: 646px;
    }
    .banner-row {
        margin: 244px 0px 0px 0px;
    }
    .banner-row h1 {
        font-size: 52px;
    }
    .banner-row p {
        margin: 20px 0px 0px 0px;
        font-size: 18px;
        line-height: 30px;
    }
}

@media (max-width :1199px) and (min-device-width :992px) {
    /******** header  *****/
    .header-row ul li {
        margin: 0px 4px 0px 0px;
    }
    .header-row ul li a {
        padding: 0px 10px 0px 10px;
    }
    /******** banner ***/
    .banner {
        height: 536px;
    }
    .banner-row {
        margin: 194px 0px 0px 0px;
        width: 552px;
    }
    .banner-row h1 {
        font-size: 48px;
    }
    .banner-row p {
        margin: 10px 0px 0px 0px;
        font-size: 18px;
        line-height: 30px;
    }
    /********** why ******/
    .why-row p {
        width: 488px;
    }
    /******** source ******/
    .source-left {
        width: 499px;
    }
    .source-left h3 {
        font-size: 49px;
    }
    .source-right {
        width: 407px;
    }
    /******* service *****/
    .service1 {
        padding: 15px;
        width: 290px;
    }
    /**** brand ******/
    img.brnd-pic {
        margin: 0px 54px 0px 0px;
    }
    img.brnd-pic-last {
        margin: 0px 0px 0px 0px;
    }
    /******** footer *****/
    a.ft-logo {
        width: 258px;
    }
    .footer1 {
        margin: 0px 0px 0px 68px;
    }
}

@media (max-width :991px) and (min-device-width :768px) {
    /******* header *****/
    a.logo {
        width: 97px;
    }
    .header-row ul li {
        margin: 0px 1px 0px 0px;
    }
    .header-row ul li a {
        padding: 0px 6px 0px 6px;
        font-size: 14px;
        line-height: 27px;
    }
    .bg {
        width: 62%;
    }
    /****** banner ***/
    .banner {
        height: 379px;
    }
    .banner-row {
        margin: 124px 0px 0px 0px;
        width: 462px;
    }
    /*  banner text  */
    .banner-row h1 {
        font-size: 38px;
    }
    .banner-row p {
        margin: 10px 0px 0px 0px;
        font-size: 16px;
        line-height: 25px;
    }
    /****** why *****/
    .why {
        padding: 70px 0px 70px 0px;
    }
    .why-left {
        margin: 0px 0px 20px 0px;
        float: none;
    }
    .why-row p {
        float: none;
        width: 100%;
    }
    /****** source ******/
    .source {
        padding: 50px 0px 50px 0px;
    }
    .source-left {
        margin: 0px 0px 20px 0px;
        float: none;
        width: 100%;
    }
    .source-right {
        float: none;
        width: 100%;
    }
    /***** service ******/
    .service h3 {
        margin: 0px 0px 30px 0px;
        text-align: center;
    }
    img.serv-pic {
        margin: 0px auto 24px auto;
        display: block;
    }
    .service1 {
        margin: 0px 0px 30px 0px;
        padding: 30px;
        float: none;
        width: 100%;
        height: auto;
        text-align: center;
    }
    .clear2 {
        margin: 0px 0px 0px 0px;
    }
    /****** product **/
    .product h3 {
        margin: 15px 0px 50px 0px;
        width: 100%;
    }
    #blog-demo.owl-carousel .owl-controls {
        bottom: -30px !important;
    }
    /****** brand *****/
    img.brnd-pic {
        margin: 0px auto 10px auto;
        float: none;
        display: block;
    }
    img.brnd-pic-last {
        margin: 0px auto 0px auto;
    }
    /********* footer *****/
    a.ft-logo {
        float: none;
        width: 228px;
    }
    .footer1 {
        margin: 20px 0px 20px 0px;
        float: none;
        overflow: hidden;
    }
    .footer2 {
        margin: 0;
        float: none;
    }
    .copy {
        margin: 50px 0px 0px 0px;
    }
}

@media (max-width :767px) and (min-device-width :280px) {
    /**** banner *****/
    .banner {
        height: auto;
        padding: 0px 0px 40px 0px;
    }
    .banner-row {
        margin: 100px 0px 0px 0px;
        width: 100%;
    }
    .banner-row h1 {
        font-size: 33px;
    }
    .banner-row p {
        margin: 4px 0px 0px 0px;
        font-size: 15px;
        line-height: 24px;
    }
    /****** why *****/
    .why {
        padding: 50px 0px 50px 0px;
    }
    .why-left {
        margin: 0px 0px 20px 0px;
        float: none;
    }
    .why-left h3 {
        font-size: 39px;
    }
    .why-left h4 {
        font-size: 39px;
    }
    .why-row p {
        font-size: 17px;
        line-height: 29px;
        float: none;
        width: 100%;
    }
    /****** source ******/
    .source {
        padding: 50px 0px 50px 0px;
    }
    .source-left {
        margin: 0px 0px 20px 0px;
        float: none;
        width: 100%;
    }
    .source-left h3 {
        font-size: 29px;
    }
    .source-left p {
        margin: 20px 0px 0px 0px;
        font-size: 17px;
        line-height: 28px;
    }
    .source-right {
        float: none;
        width: 100%;
    }
    /***** service ******/
    .service {
        padding: 50px 0px 50px 0px;
    }
    .service h3 {
        margin: 0px 0px 30px 0px;
        text-align: center;
    }
    img.serv-pic {
        margin: 0px auto 24px auto;
        display: block;
    }
    .service1 {
        margin: 0px 0px 30px 0px;
        padding: 15px;
        float: none;
        width: 100%;
        height: auto;
        text-align: center;
    }
    .clear2 {
        margin: 0px 0px 0px 0px;
    }
    /****** product **/
    .product {
        padding: 50px 0px 50px 0px;
    }
    .product h3 {
        margin: 15px 0px 50px 0px;
        font-size: 23px;
        width: 100%;
    }
    #blog-demo.owl-carousel .owl-controls {
        bottom: -30px !important;
    }
    /***** contact ***/
    .contact {
        padding: 50px 0px 0px 0px;
    }
    .contact-row {
        width: 100%;
    }
    .contact-row h3 {
        margin: 0px 0px 15px 0px;
        font-size: 30px;
    }
    .form1 {
        display: block;
        column-count: 1;
        column-gap: 0;
    }
    /********* footer *****/
    .footer {
        padding: 60px 0px 0px 0px;
    }
    a.ft-logo {
        float: none;
        width: 228px;
    }
    .footer1 {
        margin: 20px 0px 20px 0px;
        float: none;
        width: 255px;
        overflow: hidden;
    }
    .footer2 {
        margin: 0;
        float: none;
    }
    .copy {
        margin: 50px 0px 0px 0px;
    }
}

@media (max-width :991px) and (min-device-width :280px) {
    /****** brand *****/
    img.brnd-pic {
        margin: 0px auto 0px auto;
        float: none;
        display: block !important;
    }
    img.brnd-pic-last {
        margin: 0px auto 0px auto;
    }
    .brands-row {
        display: none;
    }
    .brands-row2 {
        display: block;
    }
    #blog-demo2 .owl-nav {
        display: none !important;
    }
}

@media (max-width :767px) and (min-device-width :280px) {
    .header {
        display: none;
    }
    /******* menu *****/
    .menu {
        margin: 0px 0px 0px 0px;
        padding: 10px 0px 0px 0px;
        background: transparent;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
    }
    a.logo {
        margin: 0px 0px 0px 0px;
        width: 100px;
    }
    .menu-row {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .mnu {
        margin: 12px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        float: right;
        width: 45px;
    }
    /**** menu ******/
    .dropdown {
        margin: 0px 15px 0px 0px;
        padding: 0px 0px 0px 0px;
        position: relative !important;
    }
    button.tg-btn {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        border: none;
        background: #fe0000;
        border-radius: 5px;
        width: 45px;
        height: 35px;
    }
    .navbar-toggler-icon {
        margin: 0px auto 0px auto !important;
        padding: 0px 0px 0px 0px !important;
        display: grid !important;
        width: 26px !important;
        height: 3px !important;
        background: #fff !important;
        border-radius: 5px;
    }
    span.mid {
        margin: 5px auto 5px auto !important;
    }
    .dropdown-toggle::after {
        border: none !important;
    }
    .dropdown-menu {
        margin: 0px 0px 0px 0px !important;
        padding: 0px 0px 0px 0px !important;
        background: #000 !important;
    }
    .sidebar2 {
        margin: 0px 0px 0px 0px !important;
        padding: 0px 0px 0px 0px !important;
        height: 100% !important;
        width: 300px;
        position: fixed;
        top: 0px;
        right: 0px;
        background-color: #053041;
        overflow-x: hidden;
        transition: 0.5s;
        border-radius: 0px;
        z-index: 999999;
        display: none;
        height: 100%;
    }
    .sidebar2 a.closebtn2 {
        padding: 15px 0px 8px 0px;
        text-decoration: none;
        font-size: 25px;
        color: #fff;
        display: block;
        transition: 0.3s;
        cursor: pointer;
    }
    .sidebar2 a.closebtn2:hover,
    focus {
        color: #fe0000;
    }
    .sidebar2 .closebtn2 {
        position: absolute;
        top: 0;
        right: 15px;
        font-size: 36px;
        margin-left: 50px;
    }
    .openbtn2 {
        font-size: 20px;
        cursor: pointer;
        background-color: #fff;
        color: white;
        padding: 10px 15px;
        border: none;
    }
    .openbtn2:hover {
        background-color: #fff;
    }
    #main {
        transition: margin-left .5s;
    }
    .texts {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    ul.menus {
        margin: 60px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    ul.menus li {
        margin: 0px 0px 5px 0px;
        padding: 0px 0px 0px 0px;
    }
    ul.menus li a {
        margin: 0px 0px 0px 0px;
        padding: 0px 20px 0px 20px;
        font-weight: normal;
        font-size: 18px;
        color: #fff;
        display: block;
        line-height: 36px;
    }
    ul.menus li a:hover {
        color: #fff;
        background: #fe0000;
    }
    ul.menus li a.active {
        color: #fff;
        background: #fe0000;
    }
    ul.menus li.last {
        margin: 0px 0px 0px 0px;
    }
    .dropdown-menu {
        position: relative !important;
        will-change: transform;
        transform: initial !important;
    }
    .dropdown-menu2 {
        margin: 0px 0px 0px 0px !important;
    }
    .dropdown-content {
        position: relative;
    }
    .dropdown {
        width: 100%;
    }
    img.aro-right {
        margin: 8px 6px 0px 0px;
        float: left;
    }
    .header .dropdown-content a.dropdown-item {
        margin: 0px 0px 0px 0px;
        padding: 0px 15px 0px 15px;
        line-height: 30px !important;
        border: none !important;
        font-weight: 500;
        font-size: 15px !important;
        color: #f7f7f7 !important;
        line-height: 45px !important;
        border-bottom: 1px solid #f9966f !important;
        background-color: #f66830 !important;
    }
    .dropdown-content a.dropdown-item:hover {
        color: #f7f7f7;
        background-color: #d74309 !important;
    }
    /****** dropdown ****/
    .menus .dropdown-menu.show {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        top: 26px;
        position: absolute;
        background-color: #e63b67 !important;
        min-width: 150px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        width: 100%;
        left: 0px;
        border-radius: 3px;
    }
    img.arrow-down {
        margin: 0px 0px 0px 10px;
    }
}